###############################################################################
# Set the default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Set bash scripts to always use lf line endings.
###############################################################################
*.sh text eol=lf

###############################################################################
# Set the default behavior for source code files.
###############################################################################
*.cs text diff=csharp
*.csproj text
*.sln text eol=crlf
